/* Design System */

@import '../reset.css';
@import '../font.css';
@import 'design/colors.scss';
@import 'design/typography.scss';
@import 'design/buttons.scss';
@import 'design/pin.scss';

body {
    background: #f2ccf2;
    padding: 0 16px;
    @include bodyFont;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    background-color: $dark-purple;
}

main {
    margin: 64px 0;

    .sectionOffer {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 40px;

        margin-top: 67px;
        margin-bottom: 100px;
        
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }

        &__Element__Content {
            text-align: center;
        }

        .sectionOffer__Image {
            width: 320px;
            height: 184px;
        }
    }

    .sectionLouis {

        .sectionLouis__ImageBox {
            background-color: $eucalyptus;

            .sectionLouis__ImageBox__Profile {
                width: 265px;
                height: 267px;
            }
        }

        .sectionLouis__Content {
            background-color: $dark-purple;
        }
    }
}

.mainHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 32px 0;

    .mainHero__Link {
        margin: 40px 0 64px 0;
    }
}

.title {
    @include heading--Font;

    &--Small {
        @include heading--S($size: 28px, $spacing: 36px);
    }

    &--Medium {
        @include heading--M($size: 32px, $spacing: 48px);
    }

    &--Large {
        @include heading--L($size: 50px, $spacing: 50px);
    }

    span {
        display: inline-block;
    }

    .title__highlight {
        @include highlight--Default($txt-color: inherit);
    }

    .title__Number {
        @include pinNumber;

        // margin: 15px;
    }
}

a {
    font-weight: bold;
    text-decoration: none;

    &.cta--Button {
        @include callToAction--Default;

        &:hover {
            @include callToAction--Hover;
        }
    }

    &.cta--Highlight {
        @include highlight--Default;

        &:hover {
            @include highlight--Hover;
        }
    }
}

.footer {
    width: 116px;
    height: 102.2px;
    margin: 64px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    img {
        display: inline-block;
    }

    .footer__Social {
        display: flex;
        justify-content: space-between;
    }
}