/* Design System */

@import 'responsive/reset.scss';
@import 'design/font.scss';

@import 'design/colors.scss';
@import 'design/typography.scss';
@import 'design/buttons.scss';
@import 'design/pin.scss';
@import 'design/profile.scss';


body {
    @include bodyFont($size: 16px, $spacing: 28px);
    background: $white;
    padding: 0 16px;
    z-index: 2;

    // background-image: radial-gradient(
    //     $dark-purple 0% 33%,
    //     $ghost-white 33% 67%,
    //     $white 67% 100%
    // );

    &::before {
        content: "" ;
        z-index: -1 ;
        position: absolute ;
        top: 0 ;
        left: 0 ;
        background: $dark-purple;
        width: 100vw ;
        height: 730px ;
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }

    &::after {
        content: "" ;
        z-index: -2 ;
        position: absolute ;
        top: 504px ;
        left: 0 ;
        background: blue;
        width: 100vw ;
        height: 960px ;
        border-bottom-left-radius: 50% 10%;
        border-bottom-right-radius: 50% 10%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;

    // background-color: $dark-purple;
}

main {
    margin: 64px 0;
}

.mainHero {
    // background-color: $dark-purple;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 32px 0;

    .mainHero__Link {
        margin: 40px 0 64px 0;
    }
}

.sectionOffer {
    // background-color: $ghost-white;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // gap: 40px;

    margin-top: 67px;
    margin-bottom: 100px;

    .sectionOffer__Content {
        display: flex;
        flex-direction: column;

        .sectionOffer__Element {
            margin: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
    
            p {
                max-width: 473px;
            }
        }
    
        .sectionOffer__Element__Text {
            text-align: center;
        }
    }

    .sectionOffer__Image {
        width: 320px;
        height: 184px;
        margin-left: auto;
        margin-right: auto;
    }

}

.sectionLouis {
    // background-color: $white;

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin-bottom: 21px;

    max-width: 1112px;

    .sectionLouis__ImageBox {
        background-color: $eucalyptus;
        @include profile(281px);

        .sectionLouis__ImageBox__Profile {
            width: 265px; 
            height: 267px;
            position: relative;
            top: 19px;
        }
    }

    .sectionLouis__Content {
        color: $white;
        background-color: $dark-purple;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;

        min-width: 281px;
        // max-width: 730px;
        height: 375px;
        padding: 31px;
        position: relative;
        top: -53px;

        // .title {
        //     margin-bottom: 16px;
        // }

        // &__Text {
        //     margin-bottom: 24px
        // }
    }
}

.title {
    // @include heading--Font;
    // display: inline-block;

    &--Small {
        @include headingFont($size: 28px, $spacing: 36px);
    }

    &--Medium {
        @include headingFont($size: 32px, $spacing: 48px);
    }

    &--Large {
        @include headingFont($size: 50px, $spacing: 50px);
    }

    &__highlight {
        display: inline-block;
        @include highlight--Default($txt-color: inherit);
    }

    &__Number {
        @include pinNumber;

        // margin: 15px;
    }
}

a {
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;

    &.cta--Button {
        @include callToAction--Default;

        &:hover {
            @include callToAction--Hover;
        }
    }

    &.cta--Highlight {
        @include highlight--Default;

        &:hover {
            @include highlight--Hover;
        }
    }
}

.footer {
    width: 116px;
    height: 102.2px;
    margin: 64px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    img {
        display: inline-block;
    }

    .footer__Social {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 768px) {
    @import 'responsive/tablet.scss';
}

@media only screen and (min-width: 1440px) {
    @import 'responsive/desktop.scss';
}