/* Design System */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Fraunces";
  src: url(fonts/Fraunces-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url(fonts/Manrope-Regular.ttf) format("truetype");
}
body {
  font-family: "Manrope";
  font-size: 16px;
  line-height: 28px;
  background: #f2ccf2;
  padding: 0 16px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

main {
  margin: 64px 0;
}

.mainHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 32px 0;
}
.mainHero .mainHero__Link {
  margin: 40px 0 64px 0;
}

.sectionOffer {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  margin-bottom: 100px;
}
.sectionOffer__Element {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.sectionOffer__Element p {
  max-width: 473px;
}
.sectionOffer__Element__Text {
  text-align: center;
}
.sectionOffer .sectionOffer__Image {
  width: 320px;
  height: 184px;
  margin-left: auto;
  margin-right: auto;
}

.sectionLouis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 21px;
}
.sectionLouis .sectionLouis__ImageBox {
  background-color: #44ffa1;
  width: 281px;
  height: 281px;
  border-radius: 140.5px;
  overflow: hidden;
}
.sectionLouis .sectionLouis__ImageBox .sectionLouis__ImageBox__Profile {
  width: 265px;
  height: 267px;
  position: relative;
  top: 19px;
}
.sectionLouis .sectionLouis__Content {
  color: #ffffff;
  background-color: #24053e;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  min-width: 281px;
  height: 375px;
  padding: 0 31px;
  position: relative;
  top: -53px;
}

.title--Small {
  font-family: "Fraunces";
  font-size: 28px;
  line-height: 36px;
}
.title--Medium {
  font-family: "Fraunces";
  font-size: 32px;
  line-height: 48px;
}
.title--Large {
  font-family: "Fraunces";
  font-size: 50px;
  line-height: 50px;
}
.title__highlight {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 3px solid #44ffa1;
  color: inherit;
}
.title__Number {
  width: 56px;
  height: 56px;
  border: 1px solid #584d62;
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}
a.cta--Button {
  border: 2px solid #44ffa1;
  color: #24053e;
  background-color: #44ffa1;
  padding: 10px 22px;
}
a.cta--Button:hover {
  border-color: #44ffa1;
  color: #44ffa1;
  background-color: #24053e;
}
a.cta--Highlight {
  padding-bottom: 2px;
  border-bottom: 3px solid #44ffa1;
  color: #ffffff;
}
a.cta--Highlight:hover {
  border-bottom-color: #44ffa1;
  color: #44ffa1;
}

.footer {
  width: 116px;
  height: 102.2px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer img {
  display: inline-block;
}
.footer .footer__Social {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
  }
  main {
    margin: 0;
    background: top -50px left 0 url(assets/loops-left.png) no-repeat, top 184px right 0 url(assets/loops-right.png) no-repeat;
  }
  .mainHero {
    max-width: 343px;
    margin: 56px auto;
  }
  .sectionOffer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 67px;
    margin-bottom: 100px;
  }
  .sectionOffer__Element {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  .sectionOffer__Element__Text {
    text-align: start;
  }
  .sectionOffer .sectionOffer__Image {
    width: 514px;
    height: 296px;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionLouis {
    align-items: start;
    margin: 0 40px;
    height: 526px;
    position: relative;
  }
  .sectionLouis::after {
    content: "";
    width: 221px;
    height: 212px;
    display: block;
    position: absolute;
    top: 442px;
    left: 456px;
    background: url(assets/loops-louis.png) no-repeat;
  }
  .sectionLouis .sectionLouis__ImageBox .sectionLouis__ImageBox__Profile {
    width: 265px;
    height: 267px;
    position: relative;
    top: 19px;
  }
  .sectionLouis .sectionLouis__Content {
    height: 375px;
    align-items: flex-start;
    text-align: start;
    position: absolute;
    top: 151px;
    left: 175px;
  }
  .title {
    display: inline-block;
  }
  .title--Small {
    font-family: "Fraunces";
    font-size: 28px;
    line-height: 36px;
  }
  .title--Medium {
    font-family: "Fraunces";
    font-size: 48px;
    line-height: 56px;
  }
  .title--Large {
    font-family: "Fraunces";
    font-size: 60px;
    line-height: 60px;
  }
  .title__highlight {
    padding-bottom: 2px;
    border-bottom: 3px solid #44ffa1;
    color: inherit;
  }
  .title__Number {
    width: 56px;
    height: 56px;
    border: 1px solid #584d62;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
  }
  a.cta--Button {
    border: 2px solid #44ffa1;
    color: #24053e;
    background-color: #44ffa1;
    padding: 10px 22px;
  }
  a.cta--Button:hover {
    border-color: #44ffa1;
    color: #44ffa1;
    background-color: #24053e;
  }
  a.cta--Highlight {
    padding-bottom: 2px;
    border-bottom: 3px solid #44ffa1;
    color: #ffffff;
  }
  a.cta--Highlight:hover {
    border-bottom-color: #44ffa1;
    color: #44ffa1;
  }
  .footer {
    width: 116px;
    height: 102.2px;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer img {
    display: inline-block;
  }
  .footer .footer__Social {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
