@mixin callToAction--Default($bd-color: $eucalyptus, $bg-color: $eucalyptus, $txt-color: $dark-purple) {
    border: 2px solid $bd-color;
    color: $txt-color;
    background-color: $bg-color;
}

@mixin callToAction--Hover($bd-color: $eucalyptus, $bg-color: $dark-purple, $txt-color: $eucalyptus) {
    border: 2px solid $bd-color;
    color: $txt-color;
    background-color: $bg-color;
}

@mixin buttonSecondaryDefault($ul-color: $eucalyptus, $txt-color: $white) {
    text-decoration: underline;
    text-decoration-color: $ul-color;
    color: $txt-color;
}

@mixin buttonSecondaryHover($ul-color: $eucalyptus, $txt-color: $eucalyptus) {
    text-decoration: underline;
    text-decoration-color: $ul-color;
    color: $txt-color;
}