@mixin headingFont ($size: 32px, $spacing: 40px) {
    font-family: 'Fraunces';
    font-size: $size;
    line-height: $spacing;
}

@mixin bodyFont ($size: 18px, $spacing: 32px) {
    font-family: 'Manrope';
    font-size: $size;
    line-height: $spacing;
}