body {
    @include bodyFont($size: 18px, $spacing: 32px);
}

header {
    padding: 56px 165px;
}

.sectionOffer {

     .sectionOffer__Content {
         flex-direction: row;
         gap: 26px;

         .sectionOffer__Element {
             flex-direction: column;
             gap: 26px;
             max-width: 354px;
         }
    
         .sectionOffer__Element__Text {
             text-align: center;
             gap: 28px;
         }
     }

     .sectionOffer__Image {
         width: 767px;
         height: 441px;
     }
}

.sectionLouis {
    width: 1112px;
    height: 647.74px;
    margin-top: 110px;

    &::after {
        content: '';
        width: 221px;
        height: 212px;
        position: absolute;
        top: 436px;
        left: 819px;
        background: url(assets/loops-louis.png) no-repeat;
    }

    .sectionLouis__ImageBox {
        background-color: $eucalyptus;
        @include profile(477px);

        .sectionLouis__ImageBox__Profile {
            width: 450px; 
            height: 453px;
            position: relative;
            top: 33px;
        }
    }

    .sectionLouis__Content {
        top: 173px;
        left: 382px;
        padding: 64px;
        width: 602px;
        height: 285px;

        .sectionLouis__Content__Title {
            margin: 0;
        }
        
        .sectionLouis__Content__Text {
            margin: 0;
        }

        .sectionLouis__Content__LinkBox {
            margin: 0;
        }
    }
}

.footer {
    margin-top: 60px;
    margin-bottom: 110px;
}