body {
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;

    // background-color: $dark-purple;
}

main {
    margin: 0;
    background:
        top -50px left 0 url(assets/loops-left.png) no-repeat,
        top 184px right 0 url(assets/loops-right.png) no-repeat;
}

.mainHero {
    // background-color: $dark-purple;

    max-width: 343px;
    margin: 56px auto;
}

.sectionOffer {
    // background-color: $ghost-white;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // gap: 40px;
    align-items: center;

    margin-top: 67px;
    margin-bottom: 100px;

    &__Element {
        margin: 40px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;

        // .title__Number {}
    }

    &__Element__Text {
        text-align: start;
    }

    .sectionOffer__Image {
        width: 514px;
        height: 296px;
        margin-left: auto;
        margin-right: auto;
    }
}

.sectionLouis {
    // background-color: $white;

    // display: flex;
    // flex-direction: column;
    align-items: start;
    // margin-bottom: 21px;

    margin: 0 40px;
    height: 526px;
    position: relative;

    &::after {
        content: '';
        width: 221px;
        height: 212px;
        display: block;
        position: absolute;
        top: 442px;
        left: 456px;
        background: url(assets/loops-louis.png) no-repeat;
        // background-size: 173px 137px;
    }

    .sectionLouis__ImageBox {
        // position: relative;
        // top: 0;

        .sectionLouis__ImageBox__Profile {
            width: 265px; 
            height: 267px;
            position: relative;
            top: 19px;
        }
    }

    .sectionLouis__Content {
        // width: 402px;
        height: 375px;
        align-items: flex-start;
        text-align: start;

        position: absolute;
        top: 151px;
        left: 175px;

        // background: 
        //     $dark-purple
        //     url(assets/loops.svg)
        //     no-repeat
        //     281px 269px;
        // background-size: 137px 173px;

        
    }
}

.title {
    // @include heading--Font;
    display: inline-block;

    &--Small {
        @include headingFont($size: 28px, $spacing: 36px);
    }

    &--Medium {
        @include headingFont($size: 48px, $spacing: 56px);
    }

    &--Large {
        @include headingFont($size: 60px, $spacing: 60px);
    }

    &__highlight {
        @include highlight--Default($txt-color: inherit);
    }

    &__Number {
        @include pinNumber;

        // margin: 15px;
    }
}

a {
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;

    &.cta--Button {
        @include callToAction--Default;

        &:hover {
            @include callToAction--Hover;
        }
    }

    &.cta--Highlight {
        @include highlight--Default;

        &:hover {
            @include highlight--Hover;
        }
    }
}

.footer {
    width: 116px;
    height: 102.2px;
    margin: 64px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    img {
        display: inline-block;
    }

    .footer__Social {
        display: flex;
        justify-content: space-between;
    }
}