body {
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;

    // background-color: $dark-purple;
}

main {
    margin: 0;
}

.mainHero {
    // background-color: $dark-purple;

    max-width: 343px;
    margin: 56px auto;
}

.sectionOffer {
    // gap: 48px;

    margin-top: 67px;
    margin-bottom: 100px;

    &__Element {
        margin: 24px 0;
    }
    
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    &__Element__Text {
        text-align: start;
    }

    .sectionOffer__Image {
        width: 514px;
        height: 296px;
    }
}

.sectionLouis {
    // background-color: $white;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 21px;

    .sectionLouis__ImageBox {
        background-color: $eucalyptus;
        @include profile(281px);

        .sectionLouis__ImageBox__Profile {
            width: 265px; 
            height: 267px;
            position: relative;
            top: 19px;
        }
    }

    .sectionLouis__Content {
        color: $white;
        background-color: $dark-purple;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        padding: 32px 31px;
        position: relative;
        top: -53px;

        .title {
            margin-bottom: 16px;
        }

        &__Text {
            margin-bottom: 24px
        }
    }
}

.title {
    @include heading--Font;

    &--Small {
        @include heading--S($size: 28px, $spacing: 36px);
    }

    &--Medium {
        @include heading--M($size: 32px, $spacing: 48px);
    }

    &--Large {
        @include heading--L($size: 50px, $spacing: 50px);
    }

    span {
        display: inline-block;
    }

    .title__highlight {
        @include highlight--Default($txt-color: inherit);
    }

    .title__Number {
        @include pinNumber;

        // margin: 15px;
    }
}

a {
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;

    &.cta--Button {
        @include callToAction--Default;

        &:hover {
            @include callToAction--Hover;
        }
    }

    &.cta--Highlight {
        @include highlight--Default;

        &:hover {
            @include highlight--Hover;
        }
    }
}

.footer {
    width: 116px;
    height: 102.2px;
    margin: auto auto 64px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    img {
        display: inline-block;
    }

    .footer__Social {
        display: flex;
        justify-content: space-between;
    }
}